{% extends 'base.html' %}
{% block container %}
<form class="form" action="{{ url_for('deleteData') }}" method="post">
    <h1>Delete</h1>
    <p>Please re-enter your information for verification purposes</p>
    <div class="labeled-input">
        <label>Restaurant Name</label>
        <input required type="text" id="restaurantName" name="restaurantName" placeholder="Restaurant Name">
    </div>
    <div class="labeled-input">
        <label>Username</label>
        <input required type="text" id="username" name="username" placeholder="Username">
    </div>
    <input type="reset" value="Clear">
    <input type="submit" value="Submit">
</form>
{% endblock %}