{% extends 'base.html' %}
{% block container %}
<form action="{{ url_for('deleteData') }}" method="post">
    <table width="100%" border="1">
        <tbody>
            <tr><td colspan="2"><b>Enter all information</b></td></tr>
            <tr>
                <td>Username</td>
                <td><input class="textarea" type="text" placeholder="Enter username..." name="username"></td>
            </tr>
            <tr>
                <td>Restaurant Name</td>
                <td><input class="textarea" type="text" placeholder="Enter restaurant name..." name="restaurantName"></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <input type="reset" value="Clear">
                    <input type="submit" value="Delete">
                </td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}